header{color:blue;
       font-size: larger;}
body{background-color:white;}
input[type=text], input[type=password] {   
    width: 800px;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid blue;   
    box-sizing: border-box;   
}  
Button{
    color: white;
    background-color: blue;
    width: 150px;;
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    margin-top: 40px;
    padding-top:7px;
    justify-content: center;
    border-color: white;
    display: inline-block;}
    a {
        background-color: blue;
        color:white;
        width: 150px;
        font-size: 20px;
        border-radius: 5px;
        height: 50px;
        margin-top: 40px;
        padding-top: 7px;
        justify-content: center;
        border-color: white;
        display: inline-block;}

